.layout {
  &__nav-bar {
    min-width: 320px;
    padding: 8px 8px 0;
    background-color: #000;

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #fff;

      &-wrap {
        padding: 8px 12px;
        background-color: #121212;
        border-radius: 8px;
      }

      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #fff;
      opacity: 0.6;

      @at-root .layout__nav-bar__item.active & {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }

    &__item {
      padding: 4px 12px;
      color: #fff;

      .layout__nav-bar__menu-button {
        color: #fff;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }

      &.active {
      }
    }
  }
}
