.layout {
  &__nav-bar {
    width: 260px;
    background-color: #fff;

    &__logo {
      padding: 38px 42px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #4d4d56;
    }

    &__wrap {
    }

    &__title {
      padding: 0 42px;

      color: #24242e;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
    }

    &__list {
      margin-top: 6px;
    }

    &__item {
      padding: 12px 42px;
      color: #4d4d56;

      &.active {
        background-color: #f0f0f5;
        border-right: 6px solid #4343ef;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      color: #4d4d56;

      @at-root .layout__nav-bar__item.active & {
        font-weight: 600;
        color: #4343ef;
      }
    }
  }
}
