.player-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 64px;
  padding: 16px 32px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}

.player-header__wrap {
  .player-header__paging {
    display: flex;
    gap: 16px;
  }
  .player-header__search {
    display: none;
    &.is-show {
      flex-grow: 1;
      display: flex;
    }
  }
  .player-header__account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding: 2px;
    border: none;
    border-radius: 23px;
    background-color: #000;
  }
}

.player-header__paging {
  .player-header__prev,
  .player-header__next {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);

    svg {
      opacity: 0.6;
    }

    .player-header.is-active {
      svg {
        opacity: 1;
      }
    }
  }

  .player-header__next {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.player-header__search {
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 364px;
    position: relative;
    height: 40px;
    padding: 6px 48px;
    background-color: #fff;
    border-radius: 500px;
  }
}
.player-header__search-content {
  .player-header__form {
    flex: 1;
  }
  .player-header__input {
    width: 100%;
    font-size: 14px;
    color: #000;
  }
  .player-header__button--search {
    position: absolute;
    top: 8px;
    left: 12px;
    background-color: transparent;
  }
}

.player-header__account {
  .player-header__user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #535353;
  }
  .player-header__user-name {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }
  .player-header__arrow {
    margin-right: 6px;
  }

  .player-header__user-name,
  .player-header__arrow {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
