.section {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
}

.section {
  margin-bottom: 16px;
}

.section-head {
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  &__link--all {
    font-size: 14px;
    color: #b3b3b3;
    &:hover {
      text-decoration: underline;
    }
  }
}

.list {
}
.list-item {
  &:nth-child(n + 10) {
    display: none;
  }

  @media (max-width: 2100px) {
    &:nth-child(n + 9) {
      display: none;
    }
  }
  @media (max-width: 1900px) {
    &:nth-child(n + 8) {
      display: none;
    }
  }
  @media (max-width: 1700px) {
    &:nth-child(n + 7) {
      display: none;
    }
  }
  @media (max-width: 1500px) {
    &:nth-child(n + 6) {
      display: none;
    }
  }
  @media (max-width: 1300px) {
    &:nth-child(n + 5) {
      display: none;
    }
  }
  @media (max-width: 980px) {
    &:nth-child(n + 4) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    &:nth-child(n + 3) {
      display: none;
    }
  }
}
