.songlist-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;

  &:hover {
    background-color: #f0f0f5;
    .song-albumname,
    .song-artist {
      color: #fff;
    }
  }

  &__rank {
    width: 16px;
    margin-right: 8px;
    color: #b3b3b3;
  }

  &__title {
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-albumimage {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }

    &-info {
      flex: 1;
      .songlist-item__title-name {
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 600;
        color: var(--font-main);
      }
      .songlist-item__title-artist {
        font-size: 14px;
        font-weight: 400;
        color: var(--font-sub);
      }
    }
  }

  &__albumname {
    flex: 3;
    font-size: 14px;
    font-weight: 400;
    color: var(--font-main);
  }

  &__addDate {
    flex: 2;
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
  }

  &__runtime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: var(--font-main);

    & > svg:first-child {
      margin-right: 16px;
    }
  }
}
