.list-item__button--play {
  position: absolute;
  right: 8px;
  bottom: 0;
  z-index: 2;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1cd760;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  transform-origin: 50% 50%;
  opacity: 0;
  transform: translateY(0);

  & > svg {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .list-item:hover & {
    transition: transform 0.3s ease;
    opacity: 1;
    transform: translateY(-12px);
  }
}
