.player {
  margin-top: 98px;
  width: 392px;
  padding: 32px 0 26px 0;
  border-radius: 24px 0px 0px 0px;
  background: #fff;

  &__list {
  }
  &__container {
  }
}

.player__list {
  border-bottom: 1px solid #e8e8fd;
  height: 40%;
  overflow: hidden;

  &-title {
    padding: 0 42px 0 24px;
    color: #24242e;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  &-tracks {
    margin-top: 16px;
    height: calc(100% - 38px);
    overflow-y: auto;

    .player__current {
      .player__track {
      }
    }
    .player__queue {
    }
  }
}

.player__track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 12px 42px 12px 24px;

  &.layout__player__track--active {
    background: #f0f0f5;
  }

  &-index {
    width: 20px;
    color: #787887;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }

  &-album {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px;
    overflow: hidden;

    &-image {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    flex: 1;
    margin-left: 8px;
  }

  &-name {
    color: #24242e;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-artist {
    color: #4d4d56;
    font-size: 13px;
    font-weight: 400;
  }

  &-runtime {
    color: #24242e;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.player__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 42px;
  height: 60%;

  .player__title {
    color: #24242e;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .player__album {
    position: relative;
    margin-top: 16px;
    width: 200px;
    height: 120px;
    border-radius: 18px;
    background-color: #d6d6d6;
    overflow: hidden;

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
    }
  }

  .player__song-info {
    margin-top: 24px;
    text-align: center;
    .player__song-name {
      color: #24242e;
      font-size: 24px;
      font-weight: 700;
      line-height: 22px;
    }
    .player__song-artist {
      margin-top: 12px;
      color: #4d4d56;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .player__bar {
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background-color: #b4b4f8;
    border-radius: 20px;

    .player__progress {
      width: 70%;
      height: 4px;
      background-color: #4343ef;
      border-radius: 20px;

      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #4343ef;
      }
    }
    .player__time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
      font-size: 14px;
      font-weight: 400;
      color: #4343ef;

      &-left {
        color: #787887;
      }
    }
  }

  .player__controller {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-top: 42px;

    &-left {
      display: flex;
      align-items: center;
      gap: 44px;
    }

    &-playpause {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background-color: #4343ef;
      border-radius: 500px;

      .icon--play {
        width: 20px;
        height: 20px;
        margin-left: 4px;
      }

      .icon--pause {
        width: 20px;
        height: 20px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 44px;
    }
  }
}
