@mixin flex($justifyContent: space-between, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexCol($justifyContent: space-between, $alignItems: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
