@mixin flex($justifyContent: space-between, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexCol($justifyContent: space-between, $alignItems: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin ellipsis($lines, $width: inherit) {
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
