.layout__header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: calc(100% - 260px);
  height: 98px;
  padding: 24px 42px;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

.layout__header__search {
  flex: 1;

  &-content {
    flex: 0 1 364px;
    position: relative;
  }

  .layout__header__input {
    padding: 14px 24px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #787887;
    border-radius: 16px;
    background: #f0f0f5;
  }

  .layout__header__button--search {
    position: absolute;
    top: 16px;
    right: 24px;
    background-color: transparent;
  }
}

// 유저정보 - 보류
.layout__header__user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  .layout__header__user-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

  .layout__header__user-name {
    color: #24242e;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 767px) {
      display: none;
    }
  }
}
