.search-result {
  &__filter {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__content {
  }
}

.search-result__content {
}

.search-result__filter {
  &-link {
    padding: 6px 14px;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #232323;
    &.is-active {
      background-color: #fff;
      color: #212121;
    }
  }
}

.search-result__songlist {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.search-result__song {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
}
.search-result__song {
  &:hover {
    background-color: #595959;
    .search-result__song-albumname,
    .search-result__song-artist {
      color: #fff;
    }
  }

  &-rank {
    color: #fff;
  }

  &-albumimage {
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }

  &-info {
    flex: 2;
  }

  &-name {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  &-artist {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
  }

  &-albumname {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
  }

  &-time {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
  }
}
