.section {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    &-item {
    }
  }
}

.section {
  margin-bottom: 16px;
}

.section-head {
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  &__link--all {
    font-size: 14px;
    color: #b3b3b3;
    &:hover {
      text-decoration: underline;
    }
  }
}
