.section {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .list {
    display: flex;
    gap: 24px;

    &-item {
    }
  }
}

.section {
  // padding: 24px 32px;
  margin-bottom: 16px;
  // background-color: #fff;
  border-radius: 24px;
}

.section-head {
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #4d4d56;
  }
  &__link--all {
    font-size: 14px;
    color: #b3b3b3;
    &:hover {
      text-decoration: underline;
    }
  }
}
