.section {
  &-wrap {
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &-content {
    .list {
    }
  }
}

.section {
  width: 100%;
  overflow: hidden;
}

.section-wrap {
  margin-bottom: 16px;
}

.section-head {
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #4d4d56;
  }
  &__link--all {
    font-size: 14px;
    color: #b3b3b3;
    &:hover {
      text-decoration: underline;
    }
  }
}

.section-content {
  // overflow: hidden;
}

.list {
  padding: 0 32px 23px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &-wrap {
    padding: 24px 36px;
    display: flex;
    gap: 24px;
    background-color: #fff;
    border-radius: 20px;
  }

  &-item {
  }
}
