.search-result {
  width: 100%;

  &__filter {
    display: flex;
    gap: 8px;
  }

  &__content {
    margin-top: 24px;
  }
}

.search-result__content {
  .search-result__title {
    margin-bottom: 24px;
  }
  .section {
    .list__content {
      flex-wrap: wrap;
    }
  }
}

.search-result__title {
  padding: 0 42px;
  color: var(--primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.search-result__filter {
  padding: 0 24px;

  &-link {
    padding: 6px 14px;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    color: var(--font-main);
    &.is-active {
      background-color: var(--primary);
      color: #fff;
    }
  }
}
