.layout {
  width: 100%;
  background-color: #f9f9fb;

  &--row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__nav-bar {
  }

  &__content {
    .layout__header {
    }
    &-main {
    }
  }
}

.layout__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 652px);
  min-height: 100vh;
  .layout__header {
  }
  &-main {
    width: 100%;
    margin-top: 98px;
  }
}
