.layout {
  width: 100%;
  // background-color: #121212;

  &__nav-bar {
  }
  &__content {
    .layout__header {
    }
    &-main {
    }
  }
  &__footer {
  }

  &--row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.layout__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  .layout__header {
  }
  &-main {
    width: 100%;
  }
}
