.wrap {
  display: flex;
  flex-direction: row;
  margin-top: 42px;

  overflow: hidden;

  .playlist {
  }
  .player {
    // Player.scss
  }
}

.playlist {
  width: 100%;

  &__title {
    padding: 0 42px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 22px;
      color: var(--primary);
    }
  }

  &__content {
    width: 100%;
    margin-top: 42px;
    overflow-x: hidden;
  }
}

.section {
  &-wrap {
    padding: 0 24px;
  }
  .list-item {
    width: 145px;
  }
}

.section.section--new-release {
  .section__title {
    padding: 12px 60px;

    h2 {
      color: #4d4d56;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }

    .list__link--more {
      position: absolute;
      top: 24px;
      right: 30px;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: var(--primary);
    }
  }

  .section__content {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: 12px;
    padding: 0 42px;
    overflow-x: auto;
  }

  .section__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    min-width: 338px;
    height: 200px;

    background: linear-gradient(to top, #4d4d563b, #4d4d5600);
    border-radius: 10px;

    color: #fff;
    text-align: center;
    line-height: 22px;

    &-name {
      font-size: 18px;
      font-weight: 600;
    }

    &-artist {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
